<div class="wrapper">
  <article id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="transbox">
      <h3 class="heading">Manage with Amano</h3>
      <p>At Amano, we're excited to help you manage your pools. On this website, you can access a dashboard display of all of the pools you care for.</p>
    </div>
    <footer><a class="btn" href="accounts/register">Get started!</a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <article class="group">
      <div class="one_quarter first">
        <h6 class="heading">How does the dashboard work?</h6>
      </div>
      <div class="three_quarter">
        <p>The Amano Dashboard takes the readings for all the pools you manage and organizes the data in one convenient place.</p>
        <p class="btmspace-30">If you're here, you probably have devices already set up. In this article we help you understand how to make the most of the Amano Dashboard [&hellip;]</p>
        <footer><a class="btn" href="/about">Read More &raquo;</a></footer>
      </div>
    </article>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
