<section class="portfolio-block block-intro" style="background: white;">
    <div class=container>
        <div class="data-form">
            <form action="/account/login" method="POST">
              <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address" required>
              <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
              <button class="btn btn-lg btn-primary btn-block" style="background-color:#23233d; border-color:#d6ecea;" type="submit">Login</button>
            </form>
        </div>
    </div>
</section>


