<main class="page lanidng-page">
  <section class="portfolio-block block-intro" style="background: white;">
    <div class="container amano-form-container">
      <div class="data-form">
        <form class="form-signin" action="/account/create" method="POST">
          <h2 class="form-signin-heading">Join the PoolPro Family</h2>
          <br />
          <input type="text" name="first" id="inputFirstName" class="form-control" placeholder="First Name" autofocus><br />
          <input type="text" name="last" id="inputLastName" class="form-control" placeholder="Last Name"><br />
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="New Password"
            required><br />
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email Address" required><br />
          <input type="text" name="zipCode" id="inputZipCode" class="form-control" placeholder="Zip Code" required>
          <br />
          <div class="text-right">
            <button class="btn btn-amano" type="submit">Register</button>
          </div>
          <br />
          <br />
          <h6>Already a member? <a href="/account/login">Login</a></h6>
        </form>
      </div>
      
    </div>
  </section>
</main>