<main class="page lanidng-page">
    <section class="portfolio-block block-intro" style="background: #ffffff;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">All Pools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/alerts">Pools with Alerts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard/chemicals-to-bring">Chemicals to Bring</a>
            </li>
            <li class="nav-item">
                <a href="/customer/new" class="nav-link">Add New Client</a>
            </li>
        </ul>
        <div class="container">
            <br>
            <br>
            <h1>Chemicals to Bring</h1>
            <br>
        </div>
    </section>
</main>