<main class="page lanidng-page">
    <section class="portfolio-block block-intro" style="background: #ffffff;">
        <h1><%= currentUser.name.first %>'s Dashboard</h1>
        <div class="container">
            <table style="border-radius:12;">
                <tr>
                    <th colspan="3"><a href="/dashboard/show" class="pool-name">Maxwell Pool</a></th>
                </tr>
                <tr>
                  <th>pH</th>
                  <th>Cl</th>
                  <th>Alk</th>
                </tr>
                <tr>
                  <td>7.1</td>
                  <td>2.8 ppm</td>
                  <td>110 ppm</td>
                </tr>
            </table>
        </div>
    </section>
</main>