<!-- Begin Login/Register Banner -->
<main class="page lanidng-page">

        <section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url('/img/poolpro-bkg.png');">
            <div class="container-fluid container-fluid-max">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <% if (currentUser) { %>
                        <h1 class="text-white">Welcome back, <%= currentUser.name.first %>!</h1>
                        <a class="btn bg-blue text-white mr-2" href="/account/logout" style="font-size: large;" role="button">Log Out</a>
                        <a class="btn bg-blue text-white mr-2" href="/dashboard" style="font-size: large;" role="button">Dashboard</a>
                    <% } else { %>
                        <h1 class="text-white">Track levels with PoolPro</h1>
                        <div class="mt-3">
                          <a class="btn btn-amano" href="/account/login" style="font-size: x-large;" role="button">Login</a>
                          <a class="btn btn-amano" href="/account/register" style="font-size: x-large;" role="button">Register</a>
                        </div>
                      </div>
                    <% } %>
              </div>
            </div>
          </section>

</main>