<!-- Begin Login/Register Banner -->
<main class="page lanidng-page">
        <section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url('/img/poolpro-bkg.png');">
            <div class="container-fluid container-fluid-max">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <% if (currentUser) { %>
                        <h1 class="text-white">Welcome back, <%= currentUser.name.first %>!</h1>
                        <a class="btn bg-blue text-white mr-2" href="/account/logout" style="font-size: large;" role="button">Log Out</a>
                        <a class="btn bg-blue text-white mr-2" href="/dashboard" style="font-size: large;" role="button">Dashboard</a>
                    <% } else { %>
                          <div class="container front-login" style="background-color: white;">
                              <div class="data-form">
                                  <form action="/account/login" method="POST">
                                      <h2 class="form-signin-heading">Track levels with Amano.</h2>
                                      <br />
                                      <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address"
                                          required><br />
                                      <input class="form-control" type="password" name="password" id="inputPassword"
                                          placeholder="Password" required>
                                      <br />
                                      <div class="text-right">
                                          <button class="btn btn-amano" type="submit">Login</button>
                                      </div>
                                      <br />
                                      <br />
                                      <h6>Not a member yet? <a href="/account/register">Register</a></h6>
                                  </form>
                              </div>
                          </div>
                      </div>
                    <% } %>
              </div>
            </div>
          </section>

</main>