<!-- Begin Login/Register Banner -->
<main class="page lanidng-page">
    <section class="portfolio-block block-intro">
        <div class="container">
            <div><img class="amano-logo-lg" src="/img/AmanoTransparent.png"></div>
        </div>
        <div class="container">
            <div class="about-me">
                <% if (loggedIn) { %>
                    <p>Welcome back, <%= currentUser.name.first %>!</p> 
                    <a class="btn register-button-main" role="button" href="/account/logout">Log Out</a>
                <% } else { %>
                <p>
                    Welcome to the Amano Dashboard! Login or register below.
                </p>
                <!-- LOGIN BUTTON -->
                <a class="btn login-button-main" role="button" href="/account/login">
                    Login
                </a>
                <!-- REGISTER BUTTON -->
                <a class="btn register-button-main" role="button" href="/account/register">
                    Register
                </a>
                <% } %>
            </div>
        </div>
    </section>
</main>
<!-- End Login/Register Banner -->

<!-- Begin "Manage with Amano Banner" -->
<section class="portfolio-block website pool-bg">
    <div class="container">
        <div class="row align-items-center manage">
            <div class="col-md-12 col-lg-5 offset-lg-1 text manage">
                <% if (loggedIn) { %>
                    <h3 class="manage-header">
                        Thank You!
                    </h3>
                    <p class="manage-content">
                        We're so grateful you decided
                        to manage your pools with us. You won't regret it,
                        we promise.
                    </p>
                <% } else { %>
                <h3 class="manage-header">
                    Manage with Amano
                </h3>
                <p class="manage-content">
                    At Amano, we're excited to help you manage your pools. 
                    Register your account <a class="banner-link" href="/account/register">here</a>
                    to get access to a personalized pool dashboard!
                </p>
                <% } %>
            </div>

            <!-- Begin analytics laptop image -->
            <div class="col-md-12 col-lg-5">
                <div class="portfolio-laptop-mockup">
                    <div class="screen">
                        <div class="screen-content"></div>
                    </div>
                    <div class="keyboard"></div>
                </div>
            </div>
            <!-- End analytics laptop image -->
            
        </div>
    </div>
</section>
<!-- Finish "Manage with Amano Banner" -->