<main class="page lanidng-page">
    <section class="portfolio-block block-intro" style="background: #ffffff;">
        <div class="container faq">
            <h1>Your message has been sent...</h1>
            </br>
            <div class="faq">
                <p>
                    We have received your email, and we will get back to you soon.
                </p>
                <p>
                    For answers to common questions, visit our <a href="/faq">FAQ</a> page.
                </p>
            </div>
        </div>
    </section>
</main>
