<main class="page lanidng-page">
    <section class="portfolio-block block-intro" style="background: #ffffff;">
        <div class="container">
            <div><img src="/img/AmanoTransparent.png" style="width: 420px;padding-bottom: 40px; padding-top:40px;"></div>
        </div>
        <div class="container">
            <div class="about-me">
                <p>Thanks for registering with Amano!</p><a class="btn btn-outline-primary" role="button" href="/account/login" style="padding-right: 16px;margin-right: 18px;width: 200px;height: 65px;padding-top: 6px;padding-bottom: 6px;font-size: 30px;background: #23233d;color: rgb(214,236,234);">Login</a>
            </div>
        </div>
    </section>
</main>