.collapsible {
    background-color: rgb(247, 247, 247);
    color: black;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border-style: solid;
    border-color: #555;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 40px;
}

.nav-item {
    font-size: large;
    color:#23233d;
}

.nav-item:hover {
    color:#28a9d1;
    font-weight: bold;
}

.block-intro {
    background: #ffffff;
}

.screen {
    background: rgb(214, 236, 234);
    color: rgb(214, 236, 234);
}

.screen-content {
    background: url('/img/tech/dashboard-placeholder.jpg'), linear-gradient(rgb(44, 64, 123) 6%, white);
    background-size: contain, auto;
}

.keyboard {
    color: rgb(214, 236, 234);
    background: rgb(214, 236, 234);
}

.manage-header {
    text-align: center;
    font-size: 46px;
    color: rgb(0, 0, 0);
}

.manage-content {
    text-align: center;
    font-size: 27px;
    color: rgb(35, 35, 61);
}

.manage {
    padding-top: 30px;
}

.banner-link {
    color: rgb(210, 210, 241);
}

.amano-logo-lg {
    width: 420px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.login-button-main {
    border: none;
    margin-right: 18px;
    width: 200px;
    height: 65px;
    font-size: 30px;
    background: #23233d;
    color: white;
}

.register-button-main {
    border: none;
    width: 200px;
    height: 65px;
    font-size: 30px;
    background: #23233d;
    color: white;
}

.active,
.login-button-main:hover {
    background: #28a9d1
}

.active,
.register-button-main:hover {
    background: #28a9d1
}

.btn-amano {
    border: none;
    background: #23233d;
    color: white;
}

.active,
.btn-amano:hover {
    background: #28a9d1
}

.portfolio-block {
    padding-top: 65px;
    border-top-style: none;
    border-top-color: rgba(255, 255, 255, 0);
}

.dark-social {
    background: rgb(35, 35, 61);
    border-color: rgb(214, 236, 234);
}

.footer-link {
    color: black;
}

.pool-bg {
    background-color: #28a9d1;
}

.page-footer {
    background: #ffffff;
    padding-top: 35px;
    border-color: rgba(33, 37, 41, 0);
}

.active,
.collapsible:hover {
    background-color: #23233d;
    color: white;
}

.lanidng-page {
    padding-top: 30px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.faq {
    justify-content: left;
    align-content: left;
    place-content: left;
}

table { 
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 25px;
}

thead {
    background: #28a9d1;
    color: white;
    font-size: large;
}

a {
    color: #28a9d1;
}

td,
th {
    border: 1px solid #acacac;
    text-align: left;
    padding: 8px;
}

.pool-name {
    color: rgb(35, 35, 61);
    font-size: xx-large;
}

tr:nth-child(even) {
    background-color: #23233d18;
}

.center-content {
    padding: 25px;
    justify-content: center;
}

.bg-blue {
  background: #23233d;
  width: 25%
}


.container-fluid-max {
  max-width: 1440px;
}

.cover {
  background: no-repeat center/cover;
}

.p-15 {
  padding: 15px;
}


.hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }
  
  .hero .container-fluid {
    z-index: 10;
  }

.amano-form-container {
    padding: 20px; 
    border-style: solid; 
    width: 350px; 
    border-width:1px; 
    border-radius: 5px; 
    border-color: #e4e4e4; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.amano-dash-container {
    padding: 20px;
    margin: 10px;
    border-style: solid; 
    width: 100%; 
    border-width:1px; 
    border-radius: 5px; 
    border-color: #e4e4e4; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}