<main class="page lanidng-page">
    <section class="portfolio-block block-intro" style="background: #ffffff;">
        <div class="container">
            <br />
            <h3>Message Sent!</h3>
            <br />
            <img src="/img/message_sent.png">
            <br />
            <p>Thank you for getting in touch, <%= currentUser.name.first %>! We will get back to you soon regarding your ticket.</p>
        </div>
    </section>
</main>
